/* 主题颜色代号：
 * 主题色 hsl(0, 100%, 70%)
 * 加深色 hsl(0, 80%, 40%)
 * 减浅色 hsl(0, 100%, 90%)
 * 红移色 hsl(-30, 100%, 70%)
 * 蓝移色 hsl(30, 100%, 70%)
 */

/* 全局属性 */

.layout {
  font-family: "PingFang SC", "Microsoft YaHei", sans-serif
}

/* 前言 */

#frontmatter-left {
  display: inline-block;
  width: 49%;
  border-right: 1px solid hsl(0, 100%, 70%);
  padding: 20px;
}

#avatar {
  border-radius: 5px;
}

#frontmatter-right {
  display: inline-block;
  width: 49%;
  vertical-align: top;
  padding: 20px;
}

#name, #number, #word-count, #time-estimation, #end {
  text-align: center;
}

#number {
  font-size: 1.7em;
  color: hsl(0, 100%, 70%);
  margin: 10px;
}

#end {
  color: #fff;
  background: hsl(0, 100%, 70%);
  width: 80%;
  margin: 10px auto 20px auto;
}

/* 标题 */

h1 {
  font-size: 1.7em;
  font-weight: normal;
  border-bottom: 2px solid hsl(0, 100%, 70%);
}

h1 span {
  background: hsl(0, 100%, 70%);
  color: white;
  padding: 3px 10px;
  border-top-right-radius: 3px;
  border-top-left-radius: 3px;
  margin-right: 3px;
}

h2 {
  font-weight: normal;
  color: #333;
  font-size: 1.4em;
  border-bottom: 1px solid hsl(0, 100%, 70%);
}

h2 span{
  border-bottom: 1px solid hsl(0, 100%, 70%);
}

h3 {
  font-weight: normal;
  color: #333;
  font-size: 1.2em;
}

/* 特殊规定：
 * h4 → 摘要
 * h5 → 强调
 * h6 → 七句人话
 * em → 高亮
 */

h4 {
  background-color: hsl(0, 100%, 90%);
  padding: 10px;
  color: #333;
}

h5 {
  font-weight: normal;
  border: 2px dashed hsl(30, 100%, 70%);
  border-radius: 1em;
  padding: 20px;
}

h6 {
  font-size: 1.5em;
  font-weight: normal;
  font-style: italic;
  color: hsl(30, 100%, 70%);
  border-bottom: 2px solid hsl(30, 100%, 70%);
}

em {
  font-style: normal;
  font-weight: normal;
  color: white;
  background: hsl(30, 100%, 70%);
  padding: 2px 5px;
}

/* 其他需要修改的内容 */

a {
  color: hsl(0, 100%, 70%);
  font-weight: normal;
  text-decoration: underline;
}

a:hover {
  color: hsl(-30, 100%, 70%);
  font-weight: normal;
  text-decoration: underline;
}

hr {
  width: 90%;
  margin: 1.5em auto;
  border-top: 2px dashed hsl(0, 100%, 70%);
}

strong {
  color: hsl(0, 80%, 40%);
}

s {
  color: #999;
}

p, li, h4, h5, table tr td {
  color: #666;
}

table tr th {
  color: #333;
  font-weight: normal;
}

ol, ul {
  padding-left: 2em;
}

blockquote {
  background: #f8f8f8;
  border-left-color: hsl(0, 100%, 70%);
}

blockquote p {
  color: #999;
  padding: 3px 0;
}

p code, li code {
  color: hsl(0, 100%, 70%);
}

sup {
  line-height: 0;
}

.footnote-word, .footnote-ref {
  font-weight: normal;
  color: hsl(-30, 100%, 70%);
}

.footnotes-sep {
  font-family: inherit;
}

.footnote-num {
  font-family: inherit;
}

.footnote-item p {
  color: #666;
}

.footnote-item p em {
  color: #999;
  background: transparent;
}